<!DOCTYPE html>
<html>

<head>
    <title>XDIH</title>
</head>

<body>
    <h1>Hello World!</h1>

    <iframe src="https://en.wikipedia.org/wiki/Domain_Name_System"></iframe>
    <iframe src="https://en.wikipedia.org/wiki/Google_Chrome" style="width:350px"></iframe>

    <img src="https://www.andreigramescu.com/images/icl.jpeg" style="width:350px"/>
    <img src="https://www.andreigramescu.com/images/profilepic.jpg"/>

    <iframe width="560" height="315" src="https://www.example.com/" frameborder="0"></iframe>

    <img src="https://www.imperial.ac.uk/media/migration/faculty-of-engineering/reactable_06--tojpeg_1426845635770_x2--tojpeg_1494323139365_x2.jpg"/>
    <img src="https://www.imperial.ac.uk/media/migration/faculty-of-engineering/code-1486361_1920--tojpeg_1497454056551_x2.jpg"/>

    <img src="https://public.nftstatic.com/static/nft/res/f63963347bfd4faa970dee65102d91bc.png"/>
    <img src="https://public.nftstatic.com/static/nft/res/6b64ba9f5350427e8fbadd95eead0e67.jpeg"/>

    <img src="https://tfl.gov.uk/cdn/static/cms/images/promos/ubtc-galaxy-boat-700x350_rdax_600x300s.jpg"/>
    <img src="https://tfl.gov.uk/cdn/static/cms/images/promos/bank-closure-700x350_rdax_400x200s.jpg"/>

    <script>
      
    </script>
</body>

</html>
